@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

header{
    background-color: rgba(255, 245, 238, 0.952);
    text-align: center;
    border-radius: 10px;
}
body {
     font-family: 'Roboto', sans-serif;
     font-size: 20px;
     background-color:	rgb(255,255,240);
     color:black;
     padding:50px;
     height: 100vh;
    }
article {
    border-radius: 15px;
    background-color:rgb(247, 229, 229);
    color: black;
}

h2{
    margin-top: 20px;
    color: blue;
    }

a {
    text-decoration: underline;
    color: rgb(0,0,205);
    margin-top: 20px;
    }

h2{
    font-size: 20px;
    margin-top:20px;
    }

form{
    padding-bottom: 20px;
    text-align: center;
    background-color: blue;
    color: white;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #000;
    border-radius: 10px;
    }

button {
    background-color: red;
    color: white;
    text-decoration: none;
    border:none;
    padding: 5px;
    border-radius: 5px;
    }

input {
    border:none;
    border-radius: 5px;
    padding: 5px;
    }
footer {
    margin-top: 20px
}